@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');
*{
  box-sizing: border-box;
  font-family: 'Orbitron',  sans-serif; 
  font-weight: 100;
}

@mixin flexRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
} 

$clockColor: #222222;
$clockItemColor: #ffffff;

body{
  position: relative;
  height: 90vh;
  background-color: #2d2d2d;
}

.clock{ 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 755px;
  @include flexRow;  
  margin: 0 auto; 

  &__block{ 
    @include flexRow;  
    overflow: hidden;
    align-items: center;  
    margin: 0 5px;

    &:after{
      content: " :";
      color: $clockItemColor;
      font-size: 65px; 
      margin-left: 10px;
    }

    &:last-child:after {
      content: "";
    }

    &--seconds{
      display: flex;
      flex-direction: column ;
    }
  }  

  &__item{
    font-weight: 400;
    color: $clockItemColor; 
    width: 210px;
    text-align: center;
    border-radius: 3px;
    margin: 0 2px;
    background: rgb(34, 34, 34);
    background: linear-gradient(180deg, rgba(34, 34, 34, 1) 2%, rgba(55, 53, 53, 1) 48%, rgba(34, 34, 34, 1) 98%);
    font-size: 100px;
    position: relative;
    overflow: hidden;
    &::after{
      content: " ";    
      display: block;
      border: 2px solid #2d2d2d;
      width: 100%; 
      top: 50%;
      position: absolute;
    }
  } 
  &__second{ 
    background: rgb(255, 0, 0);
    background: linear-gradient(180deg, rgba(255, 0, 0, 1) 2%, rgba(255, 109, 109, 1) 51%, rgba(253, 0, 0, 1) 98%);
  
  }
} 
 
 








